<% include ../partials/header %>

<!--NAVIGATION BAR FOR ADMIN-->
<% include ../partials/adminNav %>

<% include ../partials/alerts %>

<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-md-7">
            <div class="card">
              <div class="card-header text-center">
                <h4>Add Component</h4>
              </div>
                <div class="card-block">
                  <form class="p-3" action="/admin/books/add" method="POST">
                      
                    <div class="form-group">
                      <label class="form-control-label">Title</label>
                      <input type="text" name="book[title]" placeholder="Components Title" class="form-control" required>
                    </div>
                    
                    <div class="form-group">
                      <label class="form-control-label">Company Name</label>
                      <input type="text" name="book[author]" placeholder="Company Name" class="form-control" required>
                    </div>
                    
                    <div class="form-group">
                      <label class="form-control-label">ID</label>
                      <input type="text" name="book[ISBN]" placeholder="ID" class="form-control" required>
                    </div>
                    
                    <div class="form-group">
                      <label class="form-control-label">Category</label>
                      <input type="text" name="book[category]" placeholder="Components Category" class="form-control" required>
                    </div>
                    
                    <div class="form-group">
                      <label class="form-control-label">Stock</label>
                      <input type="Number" name="book[stock]" placeholder="Components Stocks" class="form-control" required>
                    </div>

                    <div class="form-group">
                      <label class="form-control-label">Borrow Days</label>
                      <input type="Number" name="book[maxDays]" placeholder="Number of Days for which Component could be Borrowed" class="form-control" required>
                    </div>

                    <div class="form-group">
                      <label class="form-control-label">Borrow Limit</label>
                      <input type="Number" name="book[maxTaken]" placeholder="Limit on Borrowing per User" class="form-control" required>
                    </div>
                    
                    <div class="form-group">
                      <label class="form-control-label">Components Description</label>
                      <textarea name="book[description]" cols="30" rows="10" class="form-control"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Add Components</button>
                  </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
<script>
  CKEDITOR.replace('book[description]');
</script>

<% include ../partials/footer %>
